body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: aqua;
    padding: 2px;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.openbtn,
.btn-delete,
.btn-edit,
.btn-update
{
    margin-right: 20px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.btn-delete {
    background: rgb(182, 62, 62);
    color: #fff;
}
.mian {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.addbutton {
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border: none;
    background-color: #008000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.todoInput {
    display: none;
    margin-top: 50px;
}

ul {
    width: 100%;
    max-width: 800px;
}

.list {
    list-style: none;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.list:last-child {
    border-bottom: 2px solid;

}

.list:nth-child(even) {
    background-color: #d3d3d3;
}

.title {
    flex-grow: 1;
}