body {
    margin: 0;
    padding: 0;

}

nav {
    background-color: aqua;
    padding: 2px;

}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.openbtn {
    margin-right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}



.mian {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.addbutton {
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border: none;
    background-color: #008000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.todoInput {
    display: none;
    margin-top: 50px;
}

ul li {
    list-style: none;
    font-size: 25px;

    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

ul li:last-child {
    border-bottom: 2px solid;

}

ul li:nth-child(even) {
    background-color: #d3d3d3;


}